# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Angular
src/main/angular/.vscode/
src/main/angular/node_modules/

npm-debug.log.*
